*{
    margin: 0;
}

.newsfeed{
    // background-color: limegreen;
    flex: 0.7;
    color: white;
    &__container{
        &-charts{
            &-portfolioValue{
                text-align: left;
                &>h1{
                    margin: 0;
                }
                &>p{
                    margin-top: 0;
                }
            }
            &-chart{
            }
            &-buyingPower{
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #3b4754;
                padding: 20px 0;
                margin-bottom: 60px;
            }
            &-marketNews{
                
                &-marketBox{
                    height: 10vh;
                    padding: 20px;
                    border: 1px solid #3b4754;
                    border-radius: 4px; 
                    // display: flex;
                    // flex-direction: column;
                    // align-items: center;
                    &>p{
                        color: #7bb5ba;
                        font-size: 15px;
                        text-transform: uppercase;
                        font-weight: 700;
                        margin-bottom: 8px;
                    }
                }
            }
            &-popularSection{
                margin-top: 60px;
                &-popular{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 20px 0;
                }
                &-chips{
                    display: flex;
                    flex-direction: row;
                    height: 30px;
                    align-items: center;
                    border-radius: 13px;
                    flex-wrap: wrap;
                }
            }
        }
    }
}